<%# locals: (communication:, draft:) %>

<%= admin_form [:admin, communication.event, communication] do |f| %>
  <%= f.readonly_input :communication_draft_id, [[draft.name, draft.id]] %>
  <%= f.hidden_field :communication_draft_id %>
  <%= f.check_box_input :to_subscribers, label: "Subscribers" %>
  <%= f.check_box_input :to_event, label: "Ticket holders" %>
  <%= f.check_box_input :to_speakers, label: "Speakers" %>

  <fieldset data-controller="appendable" class="p-4 pt-0 space-y-4 rounded-lg border-2 border-dashed border-gray-300 dark:border-gray-600">
    <legend class="text-sm font-medium leading-6 text-gray-500 dark:text-gray-400">Custom recipients</legend>

    <div data-appendable-target="target" class="space-y-4 divide-dashed divide-y-2 divide-gray-300 dark:divide-gray-600"></div>

    <template data-appendable-target="template">
      <%= f.fields :recipients_attributes, index: "" do |form| %>
        <%= render "recipient_form", form: %>
      <% end %>
    </template>

    <%= admin_button(:secondary, type: :button, "data-action": "appendable#add") { "Add recipient" } %>
  </fieldset>

  <%= f.submit "Send" %>
<% end %>

