<%# locals: (communication:, draft:) %>

<%= admin_form [:admin, communication.event, communication] do |f| %>
  <%= f.readonly_input :communication_draft_id, [[draft.name, draft.id]] %>
  <%= f.hidden_field :communication_draft_id %>
  <%= f.check_box_input :to_subscribers, label: "Subscribers" %>
  <%= f.check_box_input :to_event, label: "Ticket holders" %>
  <%= f.check_box_input :to_speakers, label: "Speakers" %>

  <%= f.fieldset "Custom recipients", appendable: true do %>
    <div data-appendable-target="target" class="space-y-4 divide-dashed divide-y-2 divide-gray-300 dark:divide-gray-600"></div>

    <template data-appendable-target="template">
      <%= f.fields :recipients_attributes, index: "" do |form| %>
        <%= render "recipient_form", form: %>
      <% end %>
    </template>

    <%= admin_button(:secondary, type: :button, "data-action": "appendable#add") { "Add recipient" } %>
  <% end %>

  <%= f.submit "Send" %>
<% end %>

