<%# locals: (slot:, sponsorships:) %>

<% sponsor_images = sponsorships.select { it.ogp_image.attached? }.map { url_for it.ogp_image } %>

<div class="relative"
  <% if sponsor_images.any? %>
    data-controller="sponsors"
    data-sponsors-images-value="<%= sponsor_images.to_json %>"
  <% end %>
>
  <time class="absolute top-8 left-32 font-semibold text-5xl text-gray-600" datetime="<%= slot.time.iso8601 %>"><%= slot.time.strftime("%H:%M") %></time>
  <% if slot.lineup_member.talk.ogp_image.attached? %>
    <%= image_tag slot.lineup_member.talk.ogp_image, class: "border-2 border-black bg-white rounded-md object-cover", "data-sponsors-target": "image" %>
  <% else %>
    <div class="text-3xl font-extrabold"><%= slot.lineup_member.talk.name %></div>
    <div class="text-2xl text-gray-600"><%= slot.lineup_member.speaker.name %></div>
  <% end %>
</div>
