<div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2">
	<% BlogPost.all.each do |blog_post| %>
		<article class="flex max-w-xl flex-col items-start justify-between text-white">
			<div class="flex items-center gap-x-4 text-lg">
				<time datetime="<%= blog_post.date.iso8601 %>" class="text-white/70">
					<%= blog_post.date.strftime "%d %b %Y" %>
				</time>
			</div>
			<div class="group relative">
				<h3 class="mt-3 text-2xl font-semibold leading-6 text-white-900 group-hover:text-banitsa-500">
					<%= link_to blog_path(blog_post) do %>
						<span class="absolute inset-0"></span>
						<%= blog_post.title %>
					<% end %>
				</h3>
				<%= render "prose", variant: :xl, class: "line-clamp-3" do %>
					<%= blog_post.html_content.html_safe %>
				<% end %>
			</div>
			<div class="relative mt-8 flex items-center gap-x-4">
				<%= image_tag blog_post.author.avatar, alt: blog_post.author.name,
					class: "h-12 w-12 rounded-full border-2 border-white bg-black" %>
				<div class="text-lg leading-6">
					<p class="font-semibold text-white">
						<span class="absolute inset-0"></span>
						<%= blog_post.author.name %>
					</p>
					<p class="text-white/70"><%= blog_post.author.about %></p>
				</div>
			</div>
		</article>
	<% end %>
</div>
