<% title @blog_post.title %>
<%= render "blogs/ogp", blog_post: @blog_post %>

<%= render "section", title: @blog_post.title, title_element: "h1", highlight: true do %>
  <article class="flex w-full max-w-xl flex-col items-start justify-between">
    <div class="flex items-center text-lg">
      <time datetime="<%= @blog_post.date.iso8601 %>" class="text-gray-500">
        <%= @blog_post.date.strftime "%d %b %Y" %>
      </time>
    </div>
    <%= render "prose", variant: :xl, class: "mt-8" do %>
      <%= render_markdown @blog_post.content, images: @blog_post.images %>
    <% end %>
    <div class="relative mt-8 flex items-center gap-x-4">
      <% if @blog_post.author.avatar.attached? %>
        <%= image_tag @blog_post.author.avatar, alt: @blog_post.author.name, class: "h-12 w-12 rounded-full border-2 border-black bg-white" %>
      <% end %>
      <div class="text-lg leading-6">
        <p class="font-semibold">
          <span class="absolute inset-0"></span>
          <%= @blog_post.author.name %>
        </p>
        <% if @blog_post.author.bio %>
          <p class="text-gray-500"><%= @blog_post.author.bio %></p>
        <% end %>
      </div>
    </div>
  </article>
<% end %>

<%= render "sponsors/sponsors" %>
<%= render "tickets/cta", highlight: true %>
