<% if @workingset %>
  <%= render "proposal_nav", workingset: @workingset, filter: @filter %>
<% end %>

<%= render "section", title: @proposal.title do %>
  <%= render "form", proposal: @proposal %>
<% end %>

<%= render "section", title: "Actions" do %>
  <div class="flex items-center gap-2 p-2">
    <% if @proposal.liked? %>
      <%= admin_button(:secondary, post: like_admin_event_proposal_path(Current.event, @proposal)) { "Unstar" } %>
    <% else %>
      <%= admin_button(:secondary, post: like_admin_event_proposal_path(Current.event, @proposal)) { "Star" } %>
    <% end %>

    <% if @proposal.pending? && @proposal.liked? %>
      <%= admin_button(:primary, post: accept_admin_event_proposal_path(Current.event, @proposal)) { "Accept" } %>
    <% end %>

    <% if @proposal.accepted? %>
      <%= admin_button(:danger, post: decline_admin_event_proposal_path(Current.event, @proposal)) { "Decline" } %>
    <% end %>
  </div>
<% end %>
