<% title @job_posting.title %>

<% hi = section_highlighter %>

<%= render "section", title: @job_posting.title, title_element: "h1", highlight: hi do %>
  <div class="flex items-center gap-4 mb-8">
    <% if @job_posting.sponsor.logo.attached? %>
      <%= image_tag try_variant(@job_posting.sponsor.logo, resize_to_limit: [500, 500]),
        class: "w-20 h-20 p-2 bg-white border-2 border-black rounded-md object-contain",
        lazy: true %>
    <% end %>

    <div>
      <p class="text-4xl font-semibold"><%= @job_posting.sponsor.name %></p>
    </div>
  </div>

  <% if @job_posting.description? %>
    <%= render "prose", variant: :xl do %>
      <%= render_markdown @job_posting.description, images: @job_posting.images %>
    <% end %>
  <% end %>

  <div class="mt-8">
    <% if @job_posting.application_url.present? %>
      <%= link_to @job_posting.application_url, class: "btn-primary", target: "_blank", rel: "noopener noreferrer" do %>
        Apply now
      <% end %>
    <% elsif @job_posting.contacts.any? %>
      <%= marketing_form url: jobs_path, data: { turbo: false } do |f| %>
        <%= hidden_field_tag :job_posting_id, @job_posting.id %>
        <%= f.captcha %>
        <%= f.submit "Apply now" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render "tickets/cta", highlight: !hi %>
