<%# locals: (order:) %>

<div class="inline-block min-w-full align-middle">
  <h4 class="mb-2 text-md font-medium text-gray-900 dark:text-gray-100">
    <%= link_to "Invoice ##{order.invoice.prefixed_number}", admin_invoice_path(order.invoice), class: "text-indigo-600 dark:text-indigo-400 hover:underline" %>
  </h4>
  <div class="flex flex-col md:flex-row gap-4">
    <iframe src="<%= admin_order_path order, format: :pdf, locale: :en %>" class="w-full h-[656px] border-2 border-gray-300 dark:border-gray-600 rounded-md"></iframe>
    <iframe src="<%= admin_order_path order, format: :pdf, locale: :bg %>" class="w-full h-[656px] border-2 border-gray-300 dark:border-gray-600 rounded-md"></iframe>
  </div>

  <% if order.credit_note %>
    <h4 class="mt-6 mb-2 text-md font-medium text-gray-900 dark:text-gray-100">
      <%= link_to "Credit Note ##{order.credit_note.prefixed_number}", admin_invoice_path(order.credit_note), class: "text-indigo-600 dark:text-indigo-400 hover:underline" %>
    </h4>
    <div class="flex flex-col md:flex-row gap-4">
      <iframe src="<%= admin_order_path order, format: :pdf, locale: :en, type: :credit_note %>" class="w-full h-[656px] border-2 border-gray-300 dark:border-gray-600 rounded-md"></iframe>
      <iframe src="<%= admin_order_path order, format: :pdf, locale: :bg, type: :credit_note %>" class="w-full h-[656px] border-2 border-gray-300 dark:border-gray-600 rounded-md"></iframe>
    </div>
  <% end %>

  <div class="mt-4 flex gap-3">
    <%= turbo_frame_tag "invoice" do %>
      <%= form_with url: invoice_admin_order_path do |form| %>
        <%= admin_button(:primary, type: :submit, class: "w-fit") { "Send invoice" } %>
      <% end %>
    <% end %>

    <% if order.credit_note %>
      <%= turbo_frame_tag "credit_note" do %>
        <%= form_with url: credit_note_admin_order_path do |form| %>
          <%= admin_button(:primary, type: :submit, class: "w-fit") { "Send credit note" } %>
        <% end %>
      <% end %>
    <% end %>

  </div>
</div>
