<%= render "section" do %>
  <div class="grid gap-8">
    <div class="flex flex-col sm:flex-row gap-8" data-controller="hero">
      <div class="flex flex-col gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-black">
            Balkan Ruby is <span class="text-banitsa-500">back to business</span>
          </h1>
          <div class="text-2xl sm:text-3xl font-semibold mt-3 text-white/70">
            April 26-27, 2024 in Sofia, Bulgaria
          </div>
        </div>

        <p class="text-xl max-w-prose">
          We are an international Ruby conference in Sofia, Bulgaria. We had two
          editions in 2018 and 2019, and are back for a third one in 2024. This
          time, we'll run a business theme!
        </p>
      </div>

      <% if Current.event.upcoming? && Current.event.beginning_countdown.ongoing? %>
        <%= render "hero_countdown" %>
      <% end %>
    </div>

    <div class="
      -mx-4
      px-4
      h-72
      flex
      overflow-x-auto
      snap-x
      snap-mandatory
      sm:mx-0
      sm:px-0
      sm:snap-none
      sm:h-auto
      sm:grid
      sm:items-start
      sm:grid-rows-[repeat(3,160px)]
      sm:grid-cols-3
      gap-4
    ">
      <%= image_tag "memories/svetlin_top.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2 col-span-2",
        lazy: true %>

      <%= image_tag "memories/svetlin_stefan_batsov.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2",
        lazy: true %>

      <%= image_tag "memories/svetlin_code.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover sm:object-bottom col-span-3",
        lazy: true %>
    </div>

    <div class="prose prose-lg prose-invert text-white/70">
      <p>
        Photos by <%= link_to "Svetlin Simonyan", "https://github.com/svetlins", class: "link-secondary" %>
      </p>
    </div>
  </div>
<% end %>
