<%# locals: (highlight: true) %>

<%= render "section", highlight: do %>
  <div class="grid gap-8">
    <div class="flex flex-col gap-8 md:flex-row" data-controller="hero">
      <div class="flex flex-col gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-black">
            <%== Current.event.title %>
          </h1>
          <div class="text-2xl sm:text-3xl font-semibold mt-3 text-gray-500">
            <%== Current.event.subtitle %>
          </div>
        </div>
        <p class="text-xl max-w-prose">
          <%== Current.event.description %>
        </p>
      </div>

      <% if Current.event.speaker_applications_countdown.ongoing? %>
        <%= render "hero_countdown_cfp" %>
      <% elsif Current.event.beginning_countdown.ongoing? %>
       <%= render "hero_countdown_event" %>
      <% end %>
    </div>

    <% if Current.event.hero_images.any? %>
      <div class="-mx-4 px-4 h-72 flex overflow-x-auto snap-x snap-mandatory gap-4 sm:mx-0 sm:px-0 sm:snap-none sm:h-auto sm:grid sm:items-start sm:grid-rows-[repeat(3,160px)] sm:grid-cols-3">
        <% Current.event.hero_images.each_with_index do |image, index| %>
          <%= image_tag image,
            class: [
              "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover",
              index % 3 === 2 && "row-span-2 col-span-2",
              index % 3 === 1 && "row-span-2",
              index % 3 === 0 && "col-span-3",
            ],
            lazy: true %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
