<%= render "section" do %>
  <div class="grid gap-6">
    <div class="relative">
      <%= image_tag "bg_outline_white.gif",
        alt: "Bulgaria borders outline",
        class: "absolute invisible md:visible -rotate-12 w-40 right-0 top-6 -z-10" %>

      <h1 class="text-4xl sm:text-5xl font-black">
        Balkan Ruby is <span class="text-banitsa-500">back to business</span>
      </h1>
      <div class="text-2xl sm:text-3xl font-semibold mt-3 text-white/70">
        April 26-27, 2024 in Sofia, Bulgaria
      </div>
    </div>

    <h2 class="text-4xl sm:text-5xl font-black"></h2>

    <p class="text-xl">
      We are an international Ruby conference in Sofia, Bulgaria. We had two editions in 2018 and 2019, with our third having been canceled in 2020. Four years later, we are back as a technical business event.
    </p>

    <div class="flex flex-col sm:flex-row grop">
      <%= link_to "#tickets", class: "btn-primary" do %>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 256 256"
          class="w-5 h-5 text-current"
        >
          <g color="currentColor" weight="regular">
          <path
            d="M24,167.2a7.9,7.9,0,0,1,6.4-7.8,32.1,32.1,0,0,0,0-62.8A7.9,7.9,0,0,1,24,88.8V64a8,8,0,0,1,8-8H224a8,8,0,0,1,8,8V88.8a7.9,7.9,0,0,1-6.4,7.8,32.1,32.1,0,0,0,0,62.8,7.9,7.9,0,0,1,6.4,7.8V192a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8Z"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
            ></path>
          </g>
        </svg>
        <span>Buy a ticket</span>
      <% end %>
    </div>

    <div class="
      -mx-4
      px-4
      h-72
      flex
      overflow-x-auto
      snap-x
      snap-mandatory
      sm:mx-0
      sm:px-0
      sm:snap-none
      sm:h-auto
      sm:grid
      sm:items-start
      sm:grid-rows-[repeat(3,160px)]
      sm:grid-cols-3
      gap-4
    ">
      <%= image_tag "memories/balkan_from_atop.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2 col-span-2",
        lazy: true %>

      <%= image_tag "memories/balkan_squat.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2",
        lazy: true %>

      <%= image_tag "memories/balkan_work.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover col-span-3",
        lazy: true %>
    </div>
  </div>
<% end %>
