<%= render "section", highlight: true do %>
  <div class="grid gap-8">
    <div class="flex flex-col sm:flex-row gap-8" data-controller="hero">
      <div class="flex flex-col gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-black">
            Balkan Ruby <strike>is</strike> was <span class="text-banitsa-600">back to business</span>
          </h1>
          <div class="text-2xl sm:text-3xl font-semibold mt-3 text-gray-500">
            April 26-27, 2024 in Sofia, Bulgaria
          </div>
        </div>

        <p class="text-xl max-w-prose">
          Balkan Ruby 2024 took place on April 26-27, 2024 in Sofia, Bulgaria, five
          years after our last event in 2019. We had a great time and we hope you did
          too. We ran a business theme and it rocked!
        </p>

        <p class="text-xl max-w-prose">
          We're looking forward to seeing you again in <%= link_to "2025", balkan2025_url, class: "link-primary" %>!
        </p>
      </div>
    </div>

    <div class="
      -mx-4
      px-4
      h-72
      flex
      overflow-x-auto
      snap-x
      snap-mandatory
      sm:mx-0
      sm:px-0
      sm:snap-none
      sm:h-auto
      sm:grid
      sm:items-start
      sm:grid-rows-[repeat(3,160px)]
      sm:grid-cols-3
      gap-4
    ">
      <%= image_tag "memories/svetlin_top.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2 col-span-2",
        lazy: true %>

      <%= image_tag "memories/svetlin_stefan_batsov.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2",
        lazy: true %>

      <%= image_tag "memories/svetlin_code.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover sm:object-bottom col-span-3",
        lazy: true %>
    </div>

    <%= render "prose", variant: "lg" do %>
      <p>
        Photos by <%= link_to "Svetlin Simonyan", "https://github.com/svetlins", class: "link-primary" %>
      </p>
    <% end %>
  </div>
<% end %>
