<%# locals: (highlight: true) %>

<%= render "section", highlight: do %>
  <div class="grid gap-8">
    <div class="flex flex-col gap-8 md:flex-row" data-controller="hero">
      <div class="flex flex-col gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-black">
            <%== Current.event.title %>
          </h1>
          <div class="text-2xl sm:text-3xl font-semibold mt-3 text-gray-500">
            <%== Current.event.subtitle %>
          </div>
        </div>
        <p class="text-xl max-w-prose">
          <%== Current.event.description %>
        </p>
      </div>

      <% if Current.event.speaker_applications_countdown.ongoing? %>
        <%= render "hero_countdown_cfp" %>
      <% end %>
    </div>

    <% if Current.event.hero_images.any? %>
      <%= render "image_gallery", images: Current.event.hero_images %>
    <% end %>
  </div>
<% end %>
