<%= render "section", highlight: true do %>
  <div class="grid gap-8">
    <div class="flex flex-col gap-8 md:flex-row" data-controller="hero">
      <div class="flex flex-col gap-8">
        <div>
          <h1 class="text-4xl sm:text-5xl font-black">
            Balkan Ruby is about <span class="text-banitsa-600">the long term</span>
          </h1>
          <div class="text-2xl sm:text-3xl font-semibold mt-3 text-gray-500">
            April 25-26, 2025 in Sofia, Bulgaria
          </div>
        </div>

        <p class="text-xl max-w-prose">
          Let's talk about the long term – setting up a project, running one,
          designing your architecture, organizing your team, your career, or
          your mindset. It's all about <span class="text-banitsa-600">the long term</span>.
        </p>
      </div>

      <% if Current.event.speaker_applications_countdown.ongoing? %>
        <%= render "hero_countdown_cfp" %>
      <% elsif Current.event.beginning_countdown.ongoing? %>
       <%= render "hero_countdown_event" %>
      <% end %>
    </div>

    <div class="-mx-4 px-4 h-72 flex overflow-x-auto snap-x snap-mandatory gap-4 sm:mx-0 sm:px-0 sm:snap-none sm:h-auto sm:grid sm:items-start sm:grid-rows-[repeat(3,160px)] sm:grid-cols-3">
      <%= image_tag "memories/2024/bozhidar.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2 col-span-2",
        lazy: true %>

      <%= image_tag "memories/2024/attendees.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover row-span-2",
        lazy: true %>

      <%= image_tag "memories/2024/aitor.jpg",
        alt: "Ruby Banitsa event",
        class: "snap-always snap-center border-2 border-black rounded-md shrink-0 w-10/12 sm:w-full h-full object-cover col-span-3",
        lazy: true %>
    </div>

    <div class="prose prose-lg prose-invert text-gray-500">
      <p>
        Photos by <%= link_to "Puzl", "https://puzl.com", class: "link-primary" %>
      </p>
    </div>
  </div>
<% end %>
