<%= render "section", title: "Venue", title_element: "h2" do %>
  <div class="prose-xl max-w-prose prose-invert">
    <p>
      The National Palace of Culture, also known as NDK, is one of the largest
      multifunctional complexes in the world and one of the most iconic
      buildings in Sofia. We love it for its
      <%= link_to "location", "https://maps.app.goo.gl/R9pC7ePWmtpkMQCJ7", class: "link-primary" %>,
      brutalist architecture, the many activities available around the area,
      and the vast open spaces surrounding it.
    </p>

    <p>
      Balkan Ruby will take place in
      <%= link_to "Hall 6", "https://ndk.bg/halls-21EN.html?hall=6", class: "link-primary" %> of NDK.
    </p>
  </div>

  <div class="-mx-4 px-4 h-72 flex gap-4 overflow-x-auto snap-x snap-mandatory sm:h-96">
    <%= image_tag "location/ndk_empire1.png",
      class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 h-full object-cover sm:w-3/4",
      lazy: true %>

    <%= image_tag "location/ndk_empire2.png",
      class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 h-full object-cover sm:w-3/4",
      lazy: true %>

    <%= image_tag "location/ndk_empire3.png",
      class: "snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 h-full object-cover sm:w-3/4",
      lazy: true %>

    <figure class="relative snap-always snap-center border-2 border-white rounded-md shrink-0 w-10/12 h-full sm:w-3/4">
      <%= image_tag "location/ndk_aerial.png", class: "w-full h-full object-cover", lazy: false %>
      <figcaption
        class="
          absolute
          bottom-2
          left-2
          right-2
          p-2
          text-center
          text-white/70
          font-bold
          bg-black/70
          rounded-md
          border-2
          border-white
        "
      >
        Just kidding, it looks better in real life.
      </figcaption>
    </figure>
  </div>

  <div class="prose-lg max-w-prose prose-invert">
    <p class="text-white/70">
      Pictures by <%= link_to "Dimitar Karanikolov", "https://www.dimitarkaranikolov.com/", class: "link-secondary" %>
    </p>
  </div>
<% end %>
