<%= render "section", title: "Schedule", title_element: "h2" do %>
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
    <% @event.schedule.timeslots.each do |day, timeslots| %>
      <div class="border-2 border-white rounded-md p-8">
        <h3 class="text-2xl sm:text-3xl font-extrabold"><%= day %></h3>
        <ol class="text-center pt-8">
          <% timeslots.each do |slot| %>
            <li class="border-b border-white/70 px-4 py-8 last:border-b-0">
              <div class="text-xl text-white min-w-0">
                <% if slot.talk? %>
                  <%= link_to slot.talk, class: "link-secondary", title: "#{slot.talk.speaker_names}\n#{slot.talk.name}" do %>
                    <p class="font-semibold truncate"><%= slot.talk.speaker_names %></p>
                    <p class="mt-1 text-lg truncate"><%= slot.talk.name %></p>
                  <% end %>
                <% else %>
                  <p class="font-semibold truncate"><%= slot.type %></p>
                <% end %>
              </div>
              <p class="mt-1 text-lg font-mono text-white/70"><%= slot.time %></p>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
<% end %>
