<%# locals: (venue: nil, highlight: false) %>

<%= render "section", title: "Venue", highlight: do %>
  <%= render "prose" do %>
    <%= render_markdown venue.description %>
  <% end %>

  <% if venue.gallery_images.any? %>
    <%= render "image_gallery", images: venue.gallery_images %>
  <% end %>

  <% if venue.directions %>
    <%= render "prose" do %>
      <%= render_markdown venue.directions, inline_images: venue.additional_images %>
    <% end %>
  <% end %>

  <div class="space-y-2">
    <% if venue.place_id %>
      <div class="border-2 border-black rounded-md overflow-hidden h-72 sm:h-96">
        <iframe width="100%" height="100%" frameborder="0" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=<%= Settings.google_api_key %>&q=place_id:<%= venue.place_id %>">
        </iframe>
      </div>
    <% end %>

    <% if venue.address %>
      <address><%= venue.address %></address>
    <% end %>
  </div>
<% end %>
