<%# locals: (title_element: "h2", highlight: nil) %>

<%= render "section", title: "Sponsors", title_element:, highlight: do %>
  <% if Current.event.sponsors.any? %>
    <div class="grid grid-cols-4 gap-4">
      <% Current.event.sponsors.each_with_index do |(_, sponsorship), index| %>
        <% sponsorship.each do |sponsorship| %>
          <%= link_to sponsors_path(anchor: sponsorship.sponsor.name),
                     title: sponsorship.sponsor.name,
                     class: [
                       "flex justify-center w-full h-24 p-4 bg-white border-2 border-black rounded-md",
                       index.zero? ? "col-span-2" : "col-span-1",
                       "transition ease-in-out hover:shadow-brutal hover:-translate-x-1 hover:-translate-y-1"
                     ] do %>
            <%= image_tag sponsorship.sponsor.logo, class: "w-auto h-full object-contain", lazy: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= render "prose" do %>
    <p>
      By sponsoring Balkan Ruby, you are helping us make a great event while
      promoting your brand to the passionate Ruby developers in Bulgaria, the
      Balkans, and beyond!
    </p>
  <% end %>

  <%= link_to new_sponsor_path, class: "btn-primary" do %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-5 h-5"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Sponsor us</span>
  <% end %>
<% end %>
