<%= render "section", title: "Sponsors", title_element: "h2" do %>
  <div class="grid grid-cols-1 gap-8 lg:grid-cols-2">
    <% Current.event.sponsors.basic.each do |sponsor| %>
      <%= link_to sponsors_path(anchor: sponsor.name), title: sponsor.name, class: "flex justify-center w-full h-24 p-4 bg-white rounded-md" do %>
        <%= image_tag sponsor.logo, class: "w-auto h-full object-contain", lazy: true %>
      <% end %>
    <% end %>
    <% Current.event.sponsors.party.each do |sponsor| %>
      <%= link_to sponsors_path(anchor: sponsor.name), title: sponsor.name, class: "flex justify-center w-full h-24 p-4 bg-white rounded-md" do %>
        <%= image_tag sponsor.logo, class: "w-auto h-full object-contain", lazy: true %>
      <% end %>
    <% end %>
  </div>
  <div class="grid grid-cols-2 gap-8 lg:grid-cols-4">
    <% Current.event.sponsors.travel.each do |sponsor| %>
      <%= link_to sponsors_path(anchor: sponsor.name), title: sponsor.name, class: "flex justify-center w-full h-16 p-4 bg-white rounded-md" do %>
        <%= image_tag sponsor.logo, class: "w-auto h-full object-contain", lazy: true %>
      <% end %>
    <% end %>
  </div>

  <div class="prose max-w-prose prose-invert text-white/70">
    <p>
      By sponsoring Balkan Ruby, you are helping us make a great event while
      promoting your brand to the passionate Ruby developers in Bulgaria, the
      Balkans, and beyond!
    </p>
  </div>

  <%= link_to new_sponsor_path, class: "btn-primary" do %>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      fill="currentColor"
      class="w-5 h-5"
    >
      <path
        fill-rule="evenodd"
        d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
        clip-rule="evenodd"
      />
    </svg>
    <span>Sponsor us</span>
  <% end %>
<% end %>
