<% title "Sponsors" %>

<%= render "section", title: "Sponsors", title_element: "h1" do %>
  <div class="space-y-10">
    <h2 class="text-2xl sm:text-3xl font-extrabold">Basic</h2>
    <% Current.event.sponsors.basic.each do |sponsor| %>
      <div id="<%= sponsor.name %>" class="space-y-8">
        <%= link_to sponsor.url do %>
          <%= image_tag sponsor.logo,
            class: "w-full md:w-1/2 h-48 p-4 bg-white rounded-md object-contain",
            lazy: true %>
        <% end %>
        <div class="prose-xl max-w-prose prose-invert text-white">
          <p><%= sponsor.description.html_safe %></p>
        </div>
      </div>
    <% end %>

    <h2 class="text-2xl sm:text-3xl font-extrabold">Party</h2>
    <% Current.event.sponsors.party.each do |sponsor| %>
      <div id="<%= sponsor.name %>" class="space-y-8">
        <%= image_tag sponsor.logo,
          class: "w-full md:w-1/2 h-48 p-4 bg-white rounded-md object-contain",
          lazy: true %>
        <div class="prose-xl max-w-prose prose-invert text-white">
          <p><%= sponsor.description.html_safe %></p>
        </div>
      </div>
    <% end %>

    <h2 class="text-2xl sm:text-3xl font-extrabold">Travel</h2>
    <% Current.event.sponsors.travel.each do |sponsor| %>
      <div id="<%= sponsor.name %>" class="space-y-8">
        <%= link_to sponsor.url do %>
          <%= image_tag sponsor.logo,
            class: "w-full md:w-1/2 h-24 p-4 bg-white rounded-md object-contain",
            lazy: true %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<%= render "section_separator" %>
<%= render "sponsors/sponsorship" %>
<%= render "section_separator" %>
<%= render "tickets/cta" %>
