<% title "Sponsors" %>

<%= render "section", title: "Sponsors", title_element: "h1" do %>
  <div class="prose prose-xl prose-invert">
    <p>
      By sponsoring Balkan Ruby, you are helping us make a great event while
      promoting your brand to the passionate Ruby developers in Bulgaria, the
      Balkans, and beyond!
    </p>
    <p>
      Check out our sponsorship packages below:
    </p>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "Basic", price: "€1000", limited: false do %>
      <ul>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>1 free ticket</li>
      </ul>
    <% end %>
    <%= render "package", name: "Standard", price: "€2000", limited: false do %>
      <ul>
        <li><b>Table at the conference</b></li>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>2 free tickets</li>
      </ul>
    <% end %>
    <%= render "package", name: "Pro", price: "€3000", limited: false do %>
      <ul>
        <li><b>Table at the conference</b></li>
        <li><b>Your logo on our video recordings</b></li>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>3 free tickets</li>
      </ul>
    <% end %>
  </div>

  <h2 class="text-2xl sm:text-3xl font-extrabold">Exclusive</h2>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "T-shirt", price: "€1000", limited: true do %>
      <ul>
        <li><b>Your logo on the sleeves of our t-shirts</b></li>
      </ul>
    <% end %>
    <%= render "package", name: "Coffee", price: "€1000", limited: true do %>
      <ul>
        <li><b>Espresso with your branding</b></li>
      </ul>
    <% end %>
    <%= render "package", name: "Party", price: "€1000", limited: true do %>
      <ul>
        <li><b>Your branding on the conference party</b></li>
      </ul>
    <% end %>
  </div>

  <div class="prose prose-lg prose-invert text-white/70">
    <p>
      <b>Exclusive</b> packages are in limited availability and can sell out.
    </p>
  </div>

  <h2 class="text-2xl sm:text-3xl font-extrabold">Supporter</h2>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "Speaker travel", price: nil, limited: false do %>
      <ul>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
      </ul>
    <% end %>
  </div>

  <div class="prose prose-lg prose-invert text-white/70">
    <p>
      <b>Supporter</b> packages are given to companies paying for conference expenses like speaker travel.
    </p>
  </div>

  <div class="flex gap-4 flex-wrap">
    <%= link_to "mailto:hi@balkanruby.com?subject=Balkan Ruby sponsorship", class: "btn-primary" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Sponsor us</span>
    <% end %>
    <%= link_to "/files/sponsors-prospectus.pdf",
      class: "btn-secondary",
      download: "balkanruby-2024-sponsorship-prospectus.pdf" do
    %>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-pdf" viewBox="0 0 16 16">
        <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
        <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.701 19.701 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.187-.012.395-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.065.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.716 5.716 0 0 1-.911-.95 11.642 11.642 0 0 0-1.997.406 11.311 11.311 0 0 1-1.021 1.51c-.29.35-.608.655-.926.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.27.27 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.647 12.647 0 0 1 1.01-.193 11.666 11.666 0 0 1-.51-.858 20.741 20.741 0 0 1-.5 1.05zm2.446.45c.15.162.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.881 3.881 0 0 0-.612-.053zM8.078 5.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
      </svg>
      <span>Download PDF</span>
    <% end %>
  </div>
<% end %>

<%= render "section_separator" %>

<%= render "section", title: "FAQ", title_element: "h2" do %>
  <%= render "faq" do %>
    <%= render "question", title: "Do I have to provide the banners and roll-up posters?" do %>
      <p>
        If you have existing printed materials, feel free to bring them along.
        Otherwise, our team will be handling everything regarding the banner
        material (printing, setup). Of course, we expect you to provide for the
        artwork (logos, graphics, etc.) that may be needed. The cost of the
        banners is included in the package price.
      </p>
    <% end %>
    <%= render "question", title: "Do I have to provide my own stand for the sponsors hall?" do %>
      <p>
        The exhibit space is a large table (1×2m), provided by us.
      </p>
    <% end %>
    <%= render "question", title: "Do the prices include VAT?" do %>
      <p>
        The prices do not include VAT, which will be added where applicable.
      </p>
    <% end %>
    <%= render "question", title: "Do you have any other sponsorship options?" do %>
      <p>
        Yes, given enough interest, we will run a childcare program during the conference.
      </p>
    <% end %>
    <%= render "question", title: "Do you have any other sponsorship options?" do %>
      <p>
        We will make sure you get the best out of your investment, so we are open to
        discuss other opportunities and bespoke packages.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render "section_separator" %>
<%= render "tickets/cta" %>
