<% title "Sponsorship" %>

<%= render "section", title: "Sponsorship", title_element: "h1" do %>
  <div class="prose prose-xl prose-invert">
    <p>
      By sponsoring Balkan Ruby, you are helping us make a great event while
      promoting your brand to the passionate Ruby developers in Bulgaria, the
      Balkans, and beyond!
    </p>
    <p>
      Check out our sponsorship packages below:
    </p>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "Basic", price: "€1200", limited: false do %>
      <ul>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>1 free ticket</li>
      </ul>
    <% end %>
    <%= render "package", name: "Standard", price: "€2400", limited: false do %>
      <ul>
        <li><b>Table at the conference</b></li>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>2 free tickets</li>
      </ul>
    <% end %>
    <%= render "package", name: "Pro", price: "€3600", limited: false do %>
      <ul>
        <li><b>Table at the conference</b></li>
        <li><b>Your logo on our video recordings</b></li>
        <li>Banner at the event</li>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
        <li>3 free tickets</li>
      </ul>
    <% end %>
  </div>

  <h2 class="text-2xl sm:text-3xl font-extrabold">Exclusive</h2>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "T-shirt", price: "€1200", limited: true do %>
      <ul>
        <li><b>Your logo on the sleeves of our t-shirts</b></li>
      </ul>
    <% end %>
    <%= render "package", name: "Coffee", price: "€1200", limited: true do %>
      <ul>
        <li><b>Espresso with your branding</b></li>
      </ul>
    <% end %>
    <%= render "package", name: "Party", price: "€1200", limited: true do %>
      <ul>
        <li><b>Your branding on the conference party</b></li>
      </ul>
    <% end %>
  </div>

  <div class="prose prose-lg prose-invert text-white/70">
    <p>
      <b>Exclusive</b> packages are in limited availability and can sell out.
    </p>
  </div>

  <h2 class="text-2xl sm:text-3xl font-extrabold">Supporter</h2>

  <div class="flex flex-wrap lg:flex-nowrap lg:flex-shrink gap-8">
    <%= render "package", name: "Speaker travel", price: nil, limited: false do %>
      <ul>
        <li>Logo on the website</li>
        <li>Brand promotion on social media</li>
        <li>Mentions from the stage</li>
      </ul>
    <% end %>
  </div>

  <div class="prose prose-lg prose-invert text-white/70">
    <p>
      <b>Supporter</b> packages are given to companies paying for conference expenses like speaker travel.
    </p>
  </div>

  <div class="flex gap-4 flex-wrap">
    <%= link_to "mailto:hi@balkanruby.com?subject=Balkan Ruby sponsorship", class: "btn-primary" do %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="w-5 h-5"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
          clip-rule="evenodd"
        />
      </svg>
      <span>Sponsor us</span>
    <% end %>
  </div>
<% end %>

<%= render "section_separator" %>

<%= render "section", title: "FAQ", title_element: "h2" do %>
  <%= render "faq" do %>
    <%= render "question", title: "Do I have to provide the banners and roll-up posters?" do %>
      <p>
        If you have existing printed materials, feel free to bring them along.
        Otherwise, our team will be handling everything regarding the banner
        material (printing, setup). Of course, we expect you to provide for the
        artwork (logos, graphics, etc.) that may be needed. The cost of the
        banners is included in the package price.
      </p>
    <% end %>
    <%= render "question", title: "Do I have to provide my own stand for the sponsors hall?" do %>
      <p>
        The exhibit space is a large table (1×2m), provided by us.
      </p>
    <% end %>
    <%= render "question", title: "Do the prices include VAT?" do %>
      <p>
        The prices do not include VAT, which will be added where applicable.
      </p>
    <% end %>
    <%= render "question", title: "Do you have any other sponsorship options?" do %>
      <p>
        We will make sure you get the best out of your investment, so we are open to
        discuss other opportunities and bespoke packages.
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render "section_separator" %>
<%= render "tickets/cta" %>
