<div class="w-prose">
  <p class="pb-2">
    Hey there,
  </p>

  <p class="pb-2">
    You are receiving this email because you bought a ticket for <b>Balkan Ruby</b>.
    I'm Genadi, the organizer, and I'm happy to send you off from Sofia,
    Bulgaria!
  </p>

  <p class="pb-2">
    Thank you for supporting Balkan Ruby and buying a ticket! Huge shout-out
    to our sponsors for making this event possible:
    <%= link_to "Honeybadger", "https://honeybadger.io", class: "link-primary" %>,
    <%= link_to "AppSignal", "https://appsignal.com", class: "link-primary" %>,
    <%= link_to "Plan A", "https://techplana.com", class: "link-primary" %>,
    and the anonymous Balkan subject sponsoring the party!
  </p>


  <p class="pb-2">
    Being our humble selves, we believe the conference was a great success. If
    you did or did not enjoy the event, please, tell us about
    your experience in our <%= link_to "feedback form", "https://forms.gle/F69WapjErxT67ffy8", class: "link-primary" %>.
    As a token of our appreciation for your feedback, we'll be giving away a
    single free ticket for our next event in 2025 chosen randomly from the form
    responses.
  </p>

  <p class="pb-2">
    Speaking about our next event, we already have a date for it! It will be on
    25–26 April 2025 in Sofia, Bulgaria. <%= link_to "Tickets", root_url, class: "link-primary" %>
    are already on sale. We hope to see you there!
  </p>

  <p class="pb-2">
    Best regards,<br>
    Genadi Samokovarov
  </p>
</div>
