<%= render "section", title: "Tickets", title_element: local_assigns.fetch(:title_element, "h2") do %>
  <div class="flex flex-shrink gap-8">
    <% @ticket_types.each do |ticket_type| %>
      <%= render "tickets/ticket_card_link", ticket_type: %>
    <% end %>
  </div>

  <p class="text-xl py-3">
    Early Bird tickets are available until we announce the speaker lineup.
    <%= link_to "Get yours now!", checkouts_path, class: "link-primary" %>
  </p>

  <%= render "tickets/faq" do %>
    <%= render "tickets/question", title: "Can I buy tickets in bulk?" do %>
      <p>
        Yes, and you will save doing so! We'll give you 10% off when buying 3
        tickets or more. The discount is applied automatically.
      </p>
    <% end %>
    <%= render "tickets/question", title: "Can I get an invoice?" do %>
      <p>
        Yes, make sure to check the <b>"Do you need an invoice?</b> check-box when buying your ticket.
      </p>
    <% end %>
    <%= render "tickets/question", title: "Do you offer refunds?" do %>
      <p>
        Yes, we do. No questions asked. Request one at
        <%= link_to "hi@balkanruby.com", "mailto://hi@balkanruby.com", class: "link-primary" %>
        before <time datetime="2024-04-25">April 25, 2024</time>.
      </p>
    <% end %>
    <%= render "tickets/question", title: "Do you offer childcare?" do %>
      <p>
        Yes, given enough interest, we will run a childcare program during the conference.
      </p>
    <% end %>
    <%= render "tickets/question", title: "What exactly do I get for my ticket?" do %>
      <p>
        You get access to the conference, swag, access to conference-run parties, and other activities.
      </p>
    <% end %>
  <% end %>
<% end %>
