<% title "Ticket for #{@ticket.name}" %>

<%= render "section", title: "Ticket", title_element: "h1", highlight: true do %>
  <div
    data-ticket-target="template"
    class="bg-white border-2 border-black rounded-md flex flex-col gap-6 p-4 w-full sm:w-72"
  >
    <div class="flex flex-1 w-full justify-center">
      <div class="border-2 border-black rounded-md bg-white w-full">
        <%== @ticket.qrcode.as_svg use_path: true, viewbox: true %>
      </div>
    </div>

    <label class="flex flex-col gap-3">
      <span class="text-xl">Ticket Type</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.ticket_type.name %>"
        class="
          w-full
          border-2
          rounded-md
          <%= @ticket.supporter? ? "border-banitsa-500" : "border-neutral-600" %>
          px-4
          py-2
          text-black
          text-ellipsis
        "
      />
    </label>

    <label class="flex flex-col gap-3">
      <span class="text-xl">Attendee name</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.name %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
        "
      />
    </label>

    <label class="flex flex-col gap-3">
      <span class="text-xl">Attendee email</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.email %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
        "
      />
    </label>

    <label class="flex flex-col items-baseline gap-3">
      <span class="text-xl w-50">T-shirt size</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.shirt_size %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
        "
      />
    </label>

    <% if Current.user %>
      <% if @ticket.checked_in? %>
        <div class="text-center text-xs uppercase tracking-widest text-neutral-500 font-medium">
          Checked in at <%= @ticket.checkin.created_at.to_fs :short %>
        </div>
      <% else %>
        <%= button_to "Check in", ticket_checkin_path(params[:id]), class: "btn-primary w-full" %>
      <% end %>
    <% end %>
  </div>

  <%= link_to ticket_path(@ticket.generate_token_for(:event_access), format: :pkpass), class: "mt-2" do %>
    <%= image_tag "add-to-apple-wallet.svg", alt: "Add to Apple Wallet", width: 180 %>
  <% end %>
<% end %>
