<% title "Ticket for #{@ticket.name}" %>

<%= render "section", title: "Ticket", title_element: "h1" do %>
  <div
    data-ticket-target="template"
    class="border-2 border-white rounded-md flex flex-col gap-6 p-4 w-full sm:w-72"
  >
    <div class="flex flex-1 w-full justify-center">
      <div class="border-2 border-white rounded-sm bg-white w-full">
        <%== @ticket.qrcode.as_svg use_path: true, module_size: 4, viewbox: true %>
      </div>
    </div>

    <label class="flex flex-col gap-3">
      <span class="text-xl">Attendee name</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.name %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
          focus:border-black
          focus:outline-white
        "
      />
    </label>

    <label class="flex flex-col gap-3">
      <span class="text-xl">Attendee email</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.email %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
          focus:border-black
          focus:outline-white
        "
      />
    </label>

    <label class="flex flex-col items-baseline gap-3">
      <span class="text-xl w-50">T-shirt size</span>
      <input
        disabled
        type="text"
        value="<%= @ticket.shirt_size %>"
        class="
          w-full
          border-2
          rounded-md
          border-neutral-600
          px-4
          py-2
          text-black
          text-ellipsis
          focus:border-black
          focus:outline-white
        "
      />
    </label>
  </div>
<% end %>
