<%# locals: (talk:, event:) %>

<div data-controller="screenshot" class="space-y-6">
  <section data-screenshot-target="element" class="relative w-[960px] h-[540px] p-16 flex bg-banitsa-50">
    <div class="relative w-1/2 flex flex-col justify-center gap-8">
      <%= render "application/header_logo" %>
      <h1 class="text-3xl sm:text-4xl font-extrabold text-banitsa-500 text-center"><%= talk.name %></h1>
      <div class="absolute bottom-4 left-4 w-full">
        <svg viewBox="0 0 53 75" class="w-8 inline" xmlns="http://www.w3.org/2000/svg">
          <path
            d="m48.9033181 29.0306593c0 .3554162-.2882458.6430099-.6436621.6430099h-14.9992174c-.3606334 0-.6534442.2928108-.6534442.6534442v17.136932c0 .4558457-.5836652.6462706-.8523468.2771594l-12.9293254-17.7388571c-.1499922-.2067283-.3906318-.3286785-.6462707-.3286785h-14.26556003c-.35672052 0-.64561849-.288898-.64561849-.6456185v-25.11781993c0-.3580248.29020225-.64822705.64822705-.64822705h44.33246957c.3612855 0 .6547485.29346295.6547485.65474845zm2.6137767-29.0306593h-50.86299849c-.3612855 0-.65409631.29346295-.65409631.65409631v73.69180739c0 .3612855.29281081.6540963.65409631.6540963h17.28757629c.3560684 0 .6443142-.2882458.6443142-.6443142v-17.3012712c0-.3919361.5008435-.5549711.7310488-.2386832l13.0584492 17.9162391c.1226023.1689042.3188964.2680295.526929.2680295h18.614681c.3612855 0 .6540963-.2928108.6540963-.6540963v-73.69180739c0-.36063336-.2928108-.65409631-.6540963-.65409631z"
            fill="currentColor"
            fill-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div class="absolute top-1/4 right-0 w-1/2 flex flex-col justify-center items-center">
      <div class="grid grid-cols-<%= talk.speakers.size %>">
        <% talk.speakers.each.with_index do |speaker, index| %>
          <div class="<%= card_rotation(index) %> rounded-md max-w-64">
            <%= render "avatar_card", avatar: speaker.avatar, title: speaker.name %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <%= admin_button(:primary, data: { action: "screenshot#capture" }) { "Screenshot" } %>
</div>
