<% title @ticket_type.name %>

<%= render "section", title: "Buy #{@ticket_type.name} tickets", highlight: true do %>
  <%= render "form", ticket_type: @ticket_type %>
<% end %>

<%= render "section", title: "FAQ" do %>
  <%= render "faq" do %>
    <%= render "question", title: "Do you offer refunds?" do %>
      <p>
        Yes, we do. Request one at <%= link_to Current.event.contact_email, "mailto://#{Current.event.contact_email}", class: "link-primary" %>
        before <time datetime="<%= Current.event.start_date.iso8601 %>"><%= Current.event.start_date.to_fs :long  %></time>.
      </p>
    <% end %>
    <%= render "question", title: "Do you give my data to third parties?" do %>
      <p>
        Absolutely not! We don't share your data with anyone, even sponsors. We need your name
        for a badge and email to keep in touch with you. We don't collect anything else.
      </p>
    <% end %>
    <%= render "question", title: "What exactly do I get for my ticket?" do %>
      <p>
        You get access to the conference, swag, access to conference-run
        parties, and other activities.
      </p>
      <p>
        Supporter tickets, if available, receive a hand-made gift made by the organizers.
      </p>
    <% end %>
  <% end %>
<% end %>
