<%# locals: (sponsorship_package:) %>

<%= admin_form [:admin, sponsorship_package.event, sponsorship_package] do |f| %>
  <%= f.readonly_input :event_id, [[sponsorship_package.event.name, sponsorship_package.event.id]] %>
  <%= f.text_input :name, required: true %>
  <%= f.text_area_input :description %>

  <%= f.fieldset "Variants", appendable: true do %>
    <div data-appendable-target="target" class="space-y-4 divide-dashed divide-y-2 divide-gray-300 dark:divide-gray-600">
      <% sponsorship_package.variants.each do |variant| %>
        <%= f.fields_for :variants_attributes, variant, index: "" do |form| %>
          <%= render "variant_form", form: %>
        <% end %>
      <% end %>
    </div>

    <template data-appendable-target="template">
      <%= f.fields :variants_attributes, index: "" do |form| %>
        <%= render "variant_form", form: %>
      <% end %>
    </template>

    <%= admin_button(:secondary, type: :button, "data-action": "appendable#add") { "Add variant" } %>
  <% end %>

  <%= f.submit %>
<% end %>
