<%# locals: (schedule:) %>

<%= admin_form schedule, url: admin_event_schedule_path(schedule.event) do |f| %>
  <%= f.readonly_input :event_id, [[schedule.event.name, schedule.event.id]] %>

  <% schedule.dates.each do |date| %>
    <%= f.fieldset date.strftime("%B-%d"), appendable: true do %>
      <%= f.fields :slots_attributes, index: "" do |slots_form| %>
        <div data-appendable-target="target" class="space-y-4 divide-dashed divide-y-2 divide-gray-300 dark:divide-gray-600">
          <% schedule.slots_for(date).each do |slot| %>
            <%= f.fields_for :slots_attributes, slot, index: "" do |sf| %>
              <%= render "slot_form", form: sf, schedule:, date: %>
            <% end %>
          <% end %>
        </div>

        <template data-appendable-target="template">
          <%= render "slot_form", form: slots_form, schedule:, date: %>
        </template>

        <%= admin_button(:secondary, type: :button, "data-action": "appendable#add") { "Add slot" } %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.check_box_input :published %>

  <%= f.submit %>
<% end %>
