<%# locals: (orders:) %>

<div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
  <table class="min-w-full divide-y divide-gray-300">
    <thead>
      <tr>
        <th scope="col" class="py-3 pl-4 pr-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500 sm:pl-3">Name</th>
        <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Invoice</th>
        <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Status</th>
        <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Email</th>
        <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">T-shirt</th>
        <th scope="col" class="px-3 py-3 text-left text-sm font-medium uppercase tracking-wide text-gray-500">Price</th>
        <th scope="col" class="relative py-3 pl-3 pr-4 sm:pr-0" />
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-200 bg-white">
      <% orders.each do |order| %>
        <tr class="border-t border-gray-200">
          <th scope="colgroup" class="bg-gray-50 px-3 py-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-3" >
            Order #<%= order.id %>
          </th>
          <th scope="colgroup" class="bg-gray-50 px-3 py-3 text-left text-sm font-semibold">
            <% if order.refunded? %>
              <%= admin_badge :danger do %>
                Refunded <%= format_money order.refunded_amount %>
              <% end %>
            <% else %>
              <%= admin_badge :success do %>
                Completed
              <% end %>
            <% end %>
          </th>
          <th scope="colgroup" colspan="3" class="bg-gray-50 px-3 py-3 text-left text-sm font-semibold" >
            <%= order.issue_invoice? ? "Yes" : "No" %>
          </th>
          <th
            colspan="2"
            scope="colgroup"
            class="bg-gray-50 px-3 py-3 text-left text-sm font-semibold text-gray-900"
          >
            <%= format_money order.amount %>
          </th>
        </tr>
        <% order.tickets.each do |ticket| %>
          <tr class="border-t border-gray-300">
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-500 sm:pl-3"><%= ticket.name %></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" />
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500" />
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ticket.email %></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= ticket.shirt_size %></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= format_money ticket.price %></td>
            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link_to "View", ticket.event_access_url %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
