<% title "Dashboard" %>

<div class="flex flex-col gap-12">
  <%= render "section", title: "Health" do %>
    <%= render "stats", data: {
      "Attendees" => @orders.reject(&:fully_refunded?).sum { _1.tickets.size },
      "Tickets gross" => format_money(@orders.sum(&:amount)),
      "Refunded amount" => format_money(@orders.sum(&:refunded_amount)),
    } %>
  <% end %>

  <%= render "section", title: "Orders", cta: -> {
    admin_button :primary, link: true, href: report_admin_orders_path, download: true do
      "Export report"
    end
  } do %>
    <%= render "orders", orders: @orders %>
  <% end %>

  <%= render "section", title: "Shirts" do %>
    <% shirt_sizes = @orders.flat_map(&:tickets).group_by(&:shirt_size).transform_values(&:size) %>

    <%= render "stats", data: {
      "XS (available 5)" => shirt_sizes["XS"],
      "S (available 20)" => shirt_sizes["S"],
      "M (available 40)" => shirt_sizes["M"],
      "L (available 35)" => shirt_sizes["L"],
      "XL (available 20)" => shirt_sizes["XL"],
      "XXL (available 10)" => shirt_sizes["XXL"],
    } %>
  <% end %>

  <%= render "section", title: "Accounting", cta: -> {
    admin_button :primary, link: true, href: "https://docs.google.com/spreadsheets/d/1DSlirCX6E-LFo0sv4Sa6eQTKR1Gm0O5gk1ugHylOJx4/edit?usp=sharing" do
      "View in Google Sheets"
    end
  } do %>
    <iframe src="https://docs.google.com/spreadsheets/d/1DSlirCX6E-LFo0sv4Sa6eQTKR1Gm0O5gk1ugHylOJx4/edit?usp=sharing" class="w-full h-[620px] border-2 border-gray-300 rounded-md"></iframe>
  <% end %>
</div>
