<%= render "section", title: @draft.name do %>
  <%= render "form", draft: @draft %>
<% end %>

<% last_sent = @draft.communications.order(created_at: :desc).first %>
<% description = last_sent && "Last sent on #{last_sent.created_at.to_fs(:short)} to #{pluralize last_sent.recipients.count, "recipient"}." %>

<%= render "section", title: "Actions", description: do %>
  <div class="flex gap-2">
    <%= admin_button(:primary, link: new_admin_event_communication_path(@draft.event, draft_id: @draft.id)) { "Send" } %>
    <%= admin_button(:danger, delete: admin_event_communication_draft_path(@draft.event, @draft)) { "Delete" } %>
  </div>
<% end %>
