<%= render "section", title: @draft.name do %>
  <%= render "form", draft: @draft %>
<% end %>

<%= render "section", title: "Actions" do %>
  <div class="flex gap-2">
    <%= admin_button(:primary, link: new_admin_event_communication_path(@draft.event, @draft)) { "Send" } %>
    <%= admin_button(:danger, delete: admin_event_communication_draft_path(@draft.event, @draft)) { "Delete" } %>
  </div>
<% end %>
