<%= render "section_separator", class: "my-16" %>

<footer class="py-16 bg-black text-white">
  <%= render "container", class: "space-y-6" do %>
    <div class='grid grid-cols-1 sm:grid-cols-3 gap-x-12 gap-y-6 p-5 sm:p-0'>
      <p class="font-semibold whitespace-nowrap">
        <%= Current.event.name %> is
        <%= link_to neuvents_url, class: "link-secondary", aria: { label: "Neuvents" } do %>
          <svg viewBox="0 0 53 75" class="w-5 mx-1 inline" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m48.9033181 29.0306593c0 .3554162-.2882458.6430099-.6436621.6430099h-14.9992174c-.3606334 0-.6534442.2928108-.6534442.6534442v17.136932c0 .4558457-.5836652.6462706-.8523468.2771594l-12.9293254-17.7388571c-.1499922-.2067283-.3906318-.3286785-.6462707-.3286785h-14.26556003c-.35672052 0-.64561849-.288898-.64561849-.6456185v-25.11781993c0-.3580248.29020225-.64822705.64822705-.64822705h44.33246957c.3612855 0 .6547485.29346295.6547485.65474845zm2.6137767-29.0306593h-50.86299849c-.3612855 0-.65409631.29346295-.65409631.65409631v73.69180739c0 .3612855.29281081.6540963.65409631.6540963h17.28757629c.3560684 0 .6443142-.2882458.6443142-.6443142v-17.3012712c0-.3919361.5008435-.5549711.7310488-.2386832l13.0584492 17.9162391c.1226023.1689042.3188964.2680295.526929.2680295h18.614681c.3612855 0 .6540963-.2928108.6540963-.6540963v-73.69180739c0-.36063336-.2928108-.65409631-.6540963-.65409631z"
              fill="currentColor"
              fill-rule="evenodd"
            />
          </svg>
        <% end %>
        event.
      </p>

      <div class="flex flex-col gap-2 sm:items-center">
        <p class="font-semibold text-white mb-2">We also run:</p>
        <ul class="flex flex-col gap-x-4 gap-y-1 sm:justify-center">
          <% Event.all.order(name: :desc).each do |event| %>
            <% unless event == Current.event %>
              <li>
                <%= link_to event.name, "https://#{event.host}", class: "link-secondary text-white/70", target: "_blank" %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <div class="flex flex-wrap gap-6 sm:justify-end">
        <%= link_to Current.event.twitter_url, class: "link-secondary", aria: { label: "Twitter" } do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            class="w-6 h-6 fill-current"
          >
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
          </svg>
        <% end %>

        <%= link_to Current.event.facebook_url, class: "link-secondary", aria: { label: "Facebook" } do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        <% end %>

        <%= link_to Current.event.youtube_url, class: "link-secondary", aria: { label: "YouTube" } do %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6 fill-current"
          >
            <path d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z"></path>
            <polygon class="fill-black stroke-black" points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02"></polygon>
          </svg>
        <% end %>

        <%= link_to github_url, class: "link-secondary", aria: { label: "GitHub" } do %>
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
            class="size-6 fill-current"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.477 2 2 6.463 2 11.97c0 4.404 2.865 8.14 6.839 9.458.5.092.682-.216.682-.48 0-.236-.008-.864-.013-1.695-2.782.602-3.369-1.337-3.369-1.337-.454-1.151-1.11-1.458-1.11-1.458-.908-.618.069-.606.069-.606 1.003.07 1.531 1.027 1.531 1.027.892 1.524 2.341 1.084 2.91.828.092-.643.35-1.083.636-1.332-2.22-.251-4.555-1.107-4.555-4.927 0-1.088.39-1.979 1.029-2.675-.103-.252-.446-1.266.098-2.638 0 0 .84-.268 2.75 1.022A9.607 9.607 0 0 1 12 6.82c.85.004 1.705.114 2.504.336 1.909-1.29 2.747-1.022 2.747-1.022.546 1.372.202 2.386.1 2.638.64.696 1.028 1.587 1.028 2.675 0 3.83-2.339 4.673-4.566 4.92.359.307.678.915.678 1.846 0 1.332-.012 2.407-.012 2.734 0 .267.18.577.688.48 3.97-1.32 6.833-5.054 6.833-9.458C22 6.463 17.522 2 12 2Z"></path>
          </svg>
        <% end %>

        <%= link_to slack_url, class: "link-secondary", aria: { label: "Slack" } do %>
          <svg
            viewBox="0 0 24 24"
            aria-hidden="true"
            class="size-6 fill-current"
          >
            <path d="M5.042 15.165a2.528 2.528 0 0 1-2.52 2.523A2.528 2.528 0 0 1 0 15.165a2.527 2.527 0 0 1 2.522-2.52h2.52v2.52zm1.271 0a2.527 2.527 0 0 1 2.521-2.52 2.527 2.527 0 0 1 2.521 2.52v6.313A2.528 2.528 0 0 1 8.834 24a2.528 2.528 0 0 1-2.521-2.522v-6.313zM8.834 5.042a2.528 2.528 0 0 1-2.521-2.52A2.528 2.528 0 0 1 8.834 0a2.528 2.528 0 0 1 2.521 2.522v2.52H8.834zm0 1.271a2.528 2.528 0 0 1 2.521 2.521 2.528 2.528 0 0 1-2.521 2.521H2.522A2.528 2.528 0 0 1 0 8.834a2.528 2.528 0 0 1 2.522-2.521h6.312zM18.956 8.834a2.528 2.528 0 0 1 2.522-2.521A2.528 2.528 0 0 1 24 8.834a2.528 2.528 0 0 1-2.522 2.521h-2.522V8.834zm-1.27 0a2.528 2.528 0 0 1-2.522 2.521 2.528 2.528 0 0 1-2.521-2.521V2.522A2.528 2.528 0 0 1 15.165 0a2.528 2.528 0 0 1 2.521 2.522v6.312zM15.165 18.956a2.528 2.528 0 0 1 2.521 2.522A2.528 2.528 0 0 1 15.165 24a2.528 2.528 0 0 1-2.521-2.522v-2.522h2.521zm0-1.27a2.528 2.528 0 0 1-2.521-2.522 2.528 2.528 0 0 1 2.521-2.521h6.313A2.528 2.528 0 0 1 24 15.165a2.528 2.528 0 0 1-2.522 2.521h-6.313z"/>
          </svg>
        <% end %>
      </div>

      <p class="whitespace-nowrap text-sm text-white/70">
        Try <%= link_to "Banitsa", banitsa_url, class: "link-primary" %> while in Bulgaria.
      </p>

      <div class="flex flex-col gap-2 sm:items-center">
        <%= link_to "Code of Conduct", "https://berlincodeofconduct.org", class: "link-secondary text-white/70 items-center" %>
      </div>

      <div class="flex sm:justify-end">
        <%= mail_to Current.event.contact_email, "Contact us", class: "link-secondary text-white/70" %>
      </div>
    </div>
  <% end %>
</footer>
