<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Balkan Ruby – <%= yield :title %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= render "ogp" %>

    <%= yield :head %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <link rel="shortcut icon" href="/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    >

    <link href="https://ga.jspm.io/npm:reveal.js@5.0.5/dist/reveal.css" rel="stylesheet">
    <link href="https://ga.jspm.io/npm:reveal.js@5.0.5/dist/theme/white.css" rel="stylesheet">

    <style>
      /*********************************************
       * GLOBAL STYLES
       *********************************************/
      :root {
        --r-main-font: Inter, sans-serif;
      }

      /*********************************************
       * GENADI SI PRAVI KAKVOTO ISKA
       *********************************************/
      .reveal img { margin: 0 auto; }
    </style>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased h-full">
    <div class="reveal">
      <div class="slides">
        <%= yield %>
      </div>
    </div>

    <script type="module">
      import Reveal from 'reveal.js'

      new Reveal({
        width:  '100%',
        height: '100%',
        margin: 0.05,
        controls: false,
        progress: false,
        history: true,
        center: false,
        rollingLinks: false,
        transition: 'none',
        backgroundTransition: 'fade',
      }).initialize()
    </script>
  </body>
</html>
